body{
    font-family: 'Titillium Web', sans-serif;

    background-color: SlateGrey;
    align-items:center;
}


.row{   

    background-color:black;
    color:white;
    font-size:20px;
}

.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black; 
    font-family: courgette;
    font-size: smaller;
    
    
}

.row
{
	margin: 100px auto 0 auto;
	display: block;
	width: 900px;
	text-align: center;
	text-transform: uppercase;
    display: flex;
    justify-content:space-around;
	letter-spacing: 2px;
}

	